<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">











<suite name="Test Suite"  parallel="classes" thread-count="2" >

    <listeners>
        

<listener class-name="unified_test_listener.listenerforboth_extendreport_failurescreenshot" />


    </listeners>






    <test name="Beneficiary and Project Manager Test">
        <classes>
            <class name="anfas_main_classes_for_all_modules.Beneficiary" />

            <class name="anfas_main_classes_for_all_modules.project_manager" />
        </classes>
    </test>

</suite>



